[Desktop Entry]
Encoding=UTF-8
Name=AI-Back Translation
GenericName=AI-Back Translation
Comment=Adapt It -Force Reviewing Mode
Exec=adaptit -frm
Icon=adaptit
Terminal=false
Type=Application
Categories=GTK;Office;
StartupNotify=true
